@import "~normalize.css";
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
$black2: #0f0f0f;
$black2: #121212;
$gray1: #222222;
$gray2: #aaaaaa;
$white1: #fff;
$white2: #f1f1f140;
$red: #cd201f;
$hover-gray: #3f3f3f;

$heading: clamp(2rem, 1.9637rem + 0.1613vw, 2.125rem);
$heading1: clamp(1.125rem, 1.0887rem + 0.1613vw, 1.25rem);
$paragraph: clamp(0.8125rem, 0.7762rem + 0.1613vw, 0.9375rem);
$small: clamp(0.8125rem, 0.7762rem + 0.1613vw, 0.9375rem);

// Breakpoints map
$breakpoints: (
  // 'small': 481px,
  "small": 30.1rem,
  // "medium": 770px,
  "medium": 48.1rem,
  // "large": 1280px,
  "large": 80.1rem
) !default;

@media (max-width: map-get($breakpoints, "large")) {
  // Large screensizes: monitors, laptops
}

body {
  display: grid;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  background: $black2;
  font-family: "Martian Mono", "Roboto Condensed", "Roboto", "Segoe UI", Tahoma,
    Geneva, Verdana, sans-serif;
  color: $white1;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  all: unset;
  color: $white1;
  font-weight: 500;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $gray2;
    transition: all 200ms ease-in-out;
  }
}

header {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 1.25rem;
}

main {
  // display: grid;
  // place-content: center;
  margin-block: 5rem;
  margin-inline: 1.25rem;

  @media (min-width: map-get($breakpoints, "medium")) {
    // Medium smartphone
    display: grid;
    align-items: center;
  }
}

.themeToggle {
  display: flex;

  &__btn {
    all: unset;
    padding: 0.5rem;
    border-radius: 0.75rem;
    background: $gray1;
    line-height: 1;
    box-sizing: border-box;
  }

  &__icon {
    height: 2rem;
  }
}

.title {
  display: flex;
  -moz-column-gap: 2rem;
  column-gap: 1.5rem;
  margin-bottom: 5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: map-get($breakpoints, "medium")) {
    // Medium smartphone
    flex-direction: row;
  }

  &__img {
    width: 8rem;
  }

  &__head {
    font-size: $heading;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  &__desc {
    font-size: $heading1;
    margin-block: 0;
    font-weight: 300;
    color: $gray2;
  }
}

.version-number {
  font-size: $small;
  font-weight: 200;
  color: $hover-gray;
}

.search {
  margin-bottom: 2rem;
  width: auto;

  @media (min-width: map-get($breakpoints, "medium")) {
    // Medium smartphone
    width: 50rem;
    margin-inline: auto;
  }

  &__instruction {
    font-weight: 100;
    font-size: $small;
    color: $gray2;
    padding-left: 1rem;
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    border-radius: 50vw;
    box-sizing: border-box;
    border: 0.5px $gray1 solid;
    background-color: $black2;

    &--error {
      border: 0.5px $red solid;
    }

    &:hover,
    &:focus {
      border: 0.5px $gray2 solid;
      transition: all 200ms ease-in-out;
    }
  }

  &__input {
    all: unset;
    padding: 1rem;
    width: 100%;
    font-weight: 300;
  }

  &__btn {
    all: unset;
    padding-inline: 1.15rem;
    padding-block: 0.5rem;
    background-color: $gray1;
    box-sizing: border-box;
    border: 0.5px $white2 solid;
    border-top-right-radius: 50vw;
    border-bottom-right-radius: 50vw;

    &:hover,
    &:focus {
      background-color: $hover-gray;
      cursor: pointer;
      transition: all 400ms ease-in-out;
    }

    &__icon {
      height: 1.5rem;
    }
  }

  &__error {
    color: $red;
    font-size: clamp(0.875rem, 0.8387rem + 0.1613vw, 1rem);
    font-weight: 400;
    padding-left: 1rem;
    padding-block: 0.3rem;

    &--hidden {
      display: none;
    }
  }
}

.loader {
  display: grid;
  align-content: center;
  min-height: 20rem;
  justify-items: center;

  &--hidden {
    display: none;
  }

  &__spinner {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 4px solid $red;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
  }

  &__spinner::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  @-webkit-keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.info {
  border-radius: 1rem;
  box-sizing: border-box;
  background: $gray1;
  padding: 1rem 1rem 2.5rem;
  margin-bottom: 2.5rem;

  &--hidden {
    display: none;
  }

  @media (min-width: map-get($breakpoints, "medium")) {
    // Medium smartphone
    width: 50rem;
    margin-inline: auto;
  }

  &__bar {
    display: flex;
    align-items: center;
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
    box-sizing: content-box;
    padding: 0.75rem;
    background-color: $black2;
    border-radius: 1.35rem;
  }

  &__title {
    font-size: $paragraph;
    font-weight: 300;
    color: $gray2;
  }

  &__item {
    padding-inline: 1.5rem;
    margin-block: 2rem 0;

    &__title {
      font-size: $heading1;
    }

    &__desc {
      font-weight: 300;
      color: $gray2;

      @media (min-width: map-get($breakpoints, "medium")) {
        // Medium smartphone
        width: 70%;
      }
    }
  }
}

option {
  font-family: inherit;
  background: $gray1;
  color: $white1;
  line-height: 1;
}

.thank-you {
  padding-left: 1rem;

  &--hidden {
    display: none;
  }
}

.result {
  display: flex;
  flex-direction: column-reverse;

  &--hidden {
    display: none;
  }

  @media (min-width: map-get($breakpoints, "medium")) {
    // Medium smartphone
    width: 50rem;
    margin-inline: auto;
    flex-direction: row;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }

  &__duration {
    width: 100%;
  }

  &__duration-speed {
    all: unset;
    display: block;
    margin-left: auto;
    font-size: $small;
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: 0.5px transparent solid;
    box-sizing: border-box;
    background: $gray1;
    line-height: 1;
    box-sizing: border-box;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;

    &:hover,
    &:focus {
      cursor: pointer;
      border: 0.5px $gray2 solid;
      transition: all 200ms ease-in-out;
    }
  }

  &__duration__time {
    display: flex;
    margin-block: 2rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px $white2 solid;
    padding-bottom: 0.8rem;

    & .time__title {
      font-size: $heading1;
      font-weight: 500;
      margin: unset;
      line-height: 1.5;
    }

    & .copy-btn {
      all: unset;
      padding: 0.5rem;
      border-radius: 0.75rem;
      background: $gray1;
      line-height: 1;
      box-sizing: border-box;
      border: 0.5px transparent solid;

      &:hover,
      &:focus {
        cursor: pointer;
        background: $black2;
        border: 0.5px $gray2 solid;
        transition: all 200ms ease-in-out;
      }

      &__icon {
        height: 2rem;
      }
    }
  }

  &__btn {
    all: unset;
    background: $white1;
    color: $black2;
    width: calc(100% - 3rem);
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 100vw;
    border: 0.5px transparent solid;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    font-size: $paragraph;
    margin-top: 4rem;

    &:hover,
    &:focus {
      cursor: pointer;
      background: #e6e6e6;
      border: 0.5px $white1 solid;
      transition: all 200ms ease-in-out;
    }

    & > * {
      display: inline;
      vertical-align: middle;
      line-height: 1.7;
    }

    & img {
      margin-right: 0.5rem;
    }
  }

  &__thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1.25rem;
    width: auto;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    box-shadow: rgba(24, 24, 24, 0.2) 0px 7px 29px 0px;

    &__img {
      border-radius: 1.25rem;
      width: 100%;
    }
  }

  &__title {
    font-size: $heading1;
    font-weight: 700;
    color: $white1;
    text-align: center;
    margin-block: 1rem 0;
  }

  &__total-videos {
    font-size: $small;
    color: $gray2;
  }
}

.footer {
  display: flex;
  margin-top: 4rem;
  background-color: $black2;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  border-top: 1px $gray2 solid;
  padding-block: 1rem;

  &__credits {
    color: $gray2;
    font-weight: 400;
  }
}
